.font-kecil {
	font-size: 12px;
}
.font-bold {
	font-weight: bold !important;
}
.font-italic {
	font-style: italic !important;
}
.laser-area {
  height: 320px;
  width: 100%;
  border: solid rgb(128, 133, 138) 1px;
  /* padding:10px 10px;  */
  position: relative;
  overflow: hidden;
}
.laser-area {
	height: 320px;
	width: 100%;
	border: solid gray 1px;
	/* padding:10px 10px;  */
	position: relative;
	overflow: hidden;
}
.laser-leftTop,
.laser-node-top-left {
	position: absolute;
	height: 40px;
	width: 40px;
	top: 0;
	left: 0;
	margin: 10px;
	border-top: solid red 5px;
	border-left: solid red 5px;
	opacity: 0.6;
}
.laser-rightTop,
.laser-node-top-right {
	position: absolute;
	height: 40px;
	width: 40px;
	top: 0;
	right: 0;
	margin: 10px;
	border-top: solid red 5px;
	border-right: solid red 5px;
	opacity: 0.6;
}
.laser-rightBottom,
.laser-node-bottom-left {
	position: absolute;
	height: 40px;
	width: 40px;
	bottom: 0;
	left: 0;
	margin: 10px;
	border-bottom: solid red 5px;
	border-left: solid red 5px;
	opacity: 0.6;
}
.laser-leftBottom,
.laser-node-bottom-right {
	position: absolute;
	height: 40px;
	width: 40px;
	bottom: 0;
	right: 0;
	margin: 10px;
	border-bottom: solid red 5px;
	border-right: solid red 5px;
	opacity: 0.6;
}
.dataTables_wrapper .dataTables_paginate {
	float: right !important;
}
.dataTables_wrapper .dataTables_filter {
	float: right !important;
}
.btn-sm {
	padding: 6px 8px !important;
}
.hilang {
	display: none !important;
}
.table-tbody td {
	/* background-color: aqua !important; */
	padding: 5px !important;
}
.btn-flat {
	border-radius: 0px !important;
}
.bg-gray {
	background-color: #e6e6e6 !important;
}
/* #pbtabel .table-body td {
	border-bottom: red;
} */
.text-teal-green {
	color: hsl(198, 67%, 27%) !important;
}
.text-hitam {
	color: black !important;
}
.pull-left {
	float: left !important;
}
.pull-left select {
	width: 50px !important;
	margin-bottom: 5px;
}
.pull-right {
	float: right !important;
}
.bottom-left {
	float: left !important;
}
.bottom-right {
	float: right !important;
	margin-top: 5px;
}
.line-12 {
	line-height: 12px !important;
}
.line-11 {
	line-height: 11px !important;
}
.line-10 {
	line-height: 10px !important;
}
.title-dok {
	font-size: 14px;
	font-weight: bold;
}
.font-strike {
	text-decoration: line-through !important;
}
.font-10 {
	font-size: 10px !important;
}
.font-11 {
	font-size: 11px !important;
}
.font-12 {
	font-size: 12px !important;
}
.font-13 {
	font-size: 13px !important;
}
.font-14 {
	font-size: 14px !important;
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background-color: #f6f8fb !important;
}
.tab-editmesin {
	color: black !important;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	min-height: 250px;
}
.font-roboto {
	font-family: roboto, "tahoma";
}
.borderbottomred {
	border-bottom: red;
}
.badges {
	font-size: 11px !important;
	font-weight: bold;
	padding: 3px 6px;
}
#headerhakuser .nav-item .active {
	/* color: rgb(255, 68, 0) !important; */
	color: blue;
	font-weight: bold;
	background-color: #e6eef6;
}

/* Login style button  */
.divtombolbulat {
	display: flex;
	justify-content: center !important;
}
.divtombolbulat a {
	margin: 0 3px;
	text-decoration-color: rgb(68, 67, 67);
}
.tombolbulat {
	font-weight: bold !important;
	font-size: 12px !important;
	text-align: center;
}
.tombolbulat img {
	height: 65px !important;
	width: 65px !important;
	border-radius: 50%;
	/* margin-right: 15px; */
	border: 2px solid black;
}
.tombolbulat div {
	color: rgb(68, 67, 67);
}
.font-hitam {
	color: black !important;
}
.cobagaya {
	border-radius: 0px !important;
	border: 1px solid #dadfe5 !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* height: 38px !important; */
	padding: 0px 4px 2px !important;
	/* font-size: 0.875rem !important;
	font-weight: 400; */
	line-height: 1.4285714286;
	color: #182433 !important;
	/* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23929dab' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e"); */
}

.loadered{
    display: block;
    position: relative;
    height: 32px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  .loadered:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 24px;
    height: 24px;
    animation: ballbns 5s ease-in infinite;
  }
  
  @keyframes ballbns {
    0% {  
      left: 0; 
      transform: translateX(-100%) rotate(0deg);
      border-radius: 0; 
      background: #fbc783;
    }
    100% {  
      left: 100%; 
      transform: translateX(0%) rotate(360deg); 
      border-radius: 50%;
      background:  #fbc783; 
    }
  } 

.loaderedblue{
    display: block;
    position: relative;
    height: 32px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  .loaderedblue:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 24px;
    height: 24px;
    animation: ballbnsblue 5s ease-in infinite;
  }
  
  @keyframes ballbnsblue {
    0% {  
      left: 0; 
      transform: translateX(-100%) rotate(0deg);
      border-radius: 0; 
      background: #a8c8f5;
    }
    100% {  
      left: 100%; 
      transform: translateX(0%) rotate(360deg); 
      border-radius: 50%;
      background:  #a8c8f5; 
    }
  } 
  
  /* HTML: <div class="loader"></div> */
.loaderis {
  position: fixed;
  z-index: 99999;
  height: 100vh;
  width: 100vw;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(194, 241, 251);
  padding: auto;
}
.loadering {
  height: 60px;
  aspect-ratio: 1;
  position: absolute;
  border: 3px solid #0000;
}
.loadering:before {
  content: "";
  position: absolute;
  inset: auto 35% 0;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #CF4647;
  animation: l6-0 .5s cubic-bezier(0,800,1,800) infinite;
}
.loadering:after {
  content: "";
  position: absolute;
  inset: 0;
  outline: 3px solid #524656;
  animation: l6-1 .5s linear infinite;
}
@keyframes l6-0 {
  0%,2% {bottom: 0%}
  98%,to {bottom:.1%}
}
@keyframes l6-1 {
  0%,30% {rotate:  0deg}
  70%,to {rotate: 90deg}
}

/* HTML: <div class="loader"></div> */
.loaderex {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
  align-items: center;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}