.font-kecil {
	font-size: 12px;
}
.font-bold {
	font-weight: bold !important;
}
.font-italic {
	font-style: italic !important;
}
.dataTables_wrapper .dataTables_paginate {
	float: right;
}
.btn-sm {
	padding: 6px 8px !important;
}
.hilang {
	display: none !important;
}
.table-tbody td {
	/* background-color: aqua !important; */
	padding: 5px !important;
}
.btn-flat {
	border-radius: 0px !important;
}
.bg-gray {
	background-color: #e6e6e6 !important;
}
#pbtabel .table-body td {
	border-bottom: red;
}
